.img-contacto img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.titulo-contacto{
    color: #004468;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-top: 1.8rem;
}

.btn {
    width: 110px;
    height: 45px;
    margin-left: 90px;
    background-color: #0074b5;
    color: white;
    border: 1px solid #0074b5;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1.2rem;
}


.form-select {
    margin-bottom: 1rem;
}

.container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 20px
}

.form-select-sm {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.info-oficinas {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    gap: 40px;

    .oficina__div{
    
        display: flex;
        flex-direction: column;
        align-content: center;

        img{
            width: 40px;
            height: 40px;
            margin-bottom: 10px;
        }
        
        h2 {
            color: #004468;
        }
        
        p {
            width: auto;
            font-size: 0.9rem;
            
        }
    }
    
}




