/*MEDIA QUERIES min-width=desde  max-width=hasta*/

/*MEDIA QUERIE PARA TABLETS 768px*/

@media screen and (max-width:768px) {

    /*HOME*/

    /*Main*/
    /*Sección Slider 768px*/

    .carousel .carousel-caption {
        margin-bottom: auto;

        h1 {
            font-weight: 600;
            font-size: 2rem;
        }

        span {
            font-weight: 600;
            font-size: 2rem;

        }

        p {
            font-size: 1rem;
        }
    }

    /*Sección Propuesta 768px*/

    .hometitulo {
        h2 {
            font-size: 2rem;
        }

        p {
            font-size: 1.4rem;
            width: auto;
        }

        .btn_home {
            display: none;
        }

    }

    .propuesta {
        width: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);


        .propuesta__col {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;

            img {
                width: 100%;
                align-content: center;
                object-fit: cover;

            }

            .propuesta__desc {
                text-align: center;
                margin-bottom: 132px;

            }

        }

    }

    /*Sección Video 768px*/

    .video-institucional {
        display: grid;
        grid-template-columns: auto;
        margin-top: 0px;

        .video-institucional__desc {
            width: 20%;
            display: flex;
            flex-direction: column;

            h2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                font-weight: 600;
            }

            p {
                display: none;

            }

        }

    }

    .footer__img {
        position: relative;
        bottom: 50px;
        height: 30%;
        width: 30%;
    }


    /*QUIENES SOMOS 768px*/

    .quienessomos__section {

        .quienessomos__titulo {

            .quienessomos__h1 {
                color: $colorTítulos;
                font-size: 2rem;
                text-align: center;
                margin-left: 10%;
                margin-right: 10%;
            }

        }


    }

    .quienessomos__section2 {
        margin-top: 20px;
        margin-bottom: 60px;
        margin-right: 35px;
        margin-left: 35px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        column-gap: 50px;

        .quienessomos__h3 {
            margin-bottom: 15px;
            font-size: 1.2rem;
            color: $colorTítulos;
        }

        .quienessomos__p {
            font-size: 1rem;
        }


        .quienessomos__icon {
            width: 50px;
            height: 50px;

        }

    }

    .quienessomos__section3 {

        .quienessomos__titulo {

            .quienessomos__h2 {
                font-size: 2rem;
                text-align: center;
                margin-left: 10%;
                margin-right: 10%;
            }
        }
    }

    /*PRODUCTOS 768px*/

    .hero-productos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 350px;

        .hero-productos__h1 {
            font-weight: 600;
            font-size: 2rem;
            text-align: center;
            margin-top: 0px;
            margin-left: 0px;

        }

        .hero-productos__p {
            font-size: 1rem;
            text-align: center;
            width: 30rem;
            margin-left: 0px;
            margin-bottom: 0px;

        }

        .hero-productos__button {
            width: 157px;
            height: 45px;
            background-color: #0074b5;
            color: white;
            border: 1px solid #0074b5;
            border-radius: 4px;
            font-weight: 600;
            font-size: 1rem;
            margin-left: 0px;
            margin-top: 5%;
        }

    }

    .productostitulo {

        .productostitulo__h2 {
            font-size: 2rem;
            font-weight: 600;

        }

        .productostitulo__p {
            font-size: 1.4rem;
        }

    }

    .productos__contenedor {
        .productos__card h3 {
            color: #004468;

        }

        .productos__card p {
            width: 13rem;
        }

        .productos__card img {
            width: 100%;
            height: auto;
            margin: 10%;
            margin-left: -25px;

        }

    }


    /*NOVEDADES 768px*/

    .novedades {
        .novedades__titulo {
            font-size: 2rem;
            text-align: center;
            margin-left: 10%;
            margin-right: 10%;

        }

    }


    .contenedor {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "cont1"
            "cont2";
        row-gap: 10px;

        .cont1 {
            grid-area: cont1;
            display: flex;
            justify-content: space-around;
            gap: 20px;

            .card {

                height: 550;
                display: flex;
                flex-direction: column;
                border: none;

                img {
                    width: 160px;
                    height: auto;
                }

                h4 {
                    color: #004468;
                    font-size: 1.2rem;
                    width: 10rem;
                    align-content: flex-start;
                    margin-top: 10px;
                }

                p {
                    width: 10rem;
                }


            }

        }

        .cont2 {
            grid-area: cont2;
            display: flex;
            justify-content: space-around;
            gap: 20px;

            .card {

                height: 550;
                display: flex;
                flex-direction: column;
                border: none;

                img {
                    width: 160px;
                    height: auto;
                }

                h4 {
                    color: #004468;
                    font-size: 1.2rem;
                    width: 10rem;
                    align-content: flex-start;
                    margin-top: 10px;
                }

                p {
                    width: 10rem;
                }


            }

        }


    }

    /*CONTACTO 768px*/

    h2.titulo-contacto {
        color: #004468;
        font-size: 2rem;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    section.info-oficinas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-content: center;
        justify-items: center;
        row-gap: 5%;
        column-gap: 5px;
        margin-bottom: 5%;

        .oficina__div {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            align-content: center;


        }

        .oficina__div h2 {
            display: flex;
            color: #004468;
            width: 50%;
            align-items: center;
            margin: 0px;
            padding: 0px;
        }

        .oficina__div p {
            width: 50%;
            font-size: 0.8rem;

        }
    }
}


/*MEDIA QUERIE 480px*/

@media screen and (max-width:480px) {

    /*HOME*/
    /*Header*/

    .header img {
        height: auto;
        width: 150px;
    }

    /*Main*/
    /*Sección Slider 480px*/

    .carousel .carousel-caption {

        margin-bottom: auto;

        h1 {
            font-weight: 600;
            font-size: 1.5rem;
            margin-bottom: -5px;

        }

        span {
            font-weight: 600;
            font-size: 1.5rem;
            margin-bottom: 18px;

        }


        p {
            display: none;

        }


    }


    /*Sección Propuesta 480px*/

    .hometitulo {

        .hometitulo__h2 {

            font-size: 1.2rem;
            font-weight: 600;
        }

        p {
            display: none;

        }

        .btn_home {
            display: none;
        }

    }

    .propuesta {
        width: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 1%;
        align-content: center;

        .propuesta__col {
            width: 80%;
            display: flex;
            justify-self: center;
            justify-content: center;

            img {
                width: 50%;

            }

            .diferencial {
                font-size: 1rem;
                
            }

            .propuesta__desc {
                text-align: center;
                margin-bottom: 10px;
                width: 13rem;
            }

        }

    }

    /*Sección Video 480px*/

    .video-institucional {
        background-image: url(../assets/background-abstract.png);
        background-repeat: no-repeat;
        padding: 50px;
        flex-direction: column;
        align-content: center;

        .video-institucional__desc {
            width: 100%;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .video-institucional__h2 {
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 20px;
                width: 100%;
                text-align: center;


            }

            .video-institucional__p {
                display: none;

            }

        }
        

    }

    .video iframe {
        flex-direction: column;
        align-content: center;
        width: 300px;
        height: 169px;
        
    }

    /*Footer 480px*/

    .footer {
        background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
        padding: 20px 10px;

        .footer__nav {
            padding: 60px 70px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .footer__img {
                position: relative;
                bottom: 10px;
                height: auto;
                width: 150px;
            }

            .footer nav .footer__list {
                display: flex;
                flex-direction: column;
                padding-left: 50px;

                .footer__anchor {
                    color: white;
                    text-decoration: none;
                }

            }

            .footer nav .footer__listoficinas {
                display: flex;
                flex-direction: column;
                color: white;
                padding-left: 50px;

            }

        }

    }

    /*QUIENES SOMOS 480px*/

    .img-qs {
        width: 100%;
        height: 600px;
        object-fit: cover;

    }

    .quienessomos__section {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
        height: 145px;
        overflow: hidden;

        .quienessomos__titulo {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 30px;

            .quienessomos__h1 {
                font-size: 1.5rem;
            }

        }

    }


    section.quienessomos__section2 {
        margin-top: 20px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        row-gap: 10%;
        align-items: center;

        .quienessomos__div {
            width: 80%;
            margin-bottom: 10%;
            margin-top: 10%;

            .quienessomos__h3 {
                color: $colorTítulos;
                text-align: center;
                margin-bottom: 15px;
                width: 100%;

            }

            .quienessomos__p {
                color: #000000;
                text-align: center;
                height: 160px;
                width: 100%;
            }


            .quienessomos__icon {
                width: 50px;
                height: 50px;
                margin-left: 140px;
                margin-bottom: 20px;

            }

        }

    }

    .quienessomos__section3 {
        display: none;
    }


    /*PRODUCTOS 480px*/

    .hero-productos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 400px;

        .hero-productos__h1 {
            font-weight: 600;
            font-size: 2rem;
            text-align: center;
            margin-top: 0px;
            margin-left: 0px;

        }

        .hero-productos__p {
            font-size: 1rem;
            text-align: center;
            width: 100%;
            margin-top: 5%;
            margin-left: 0px;
            margin-bottom: 0px;

        }

        .hero-productos button {
            width: 145px;
            height: 45px;
            background-color: #0074b5;
            color: white;
            border: 1px solid #0074b5;
            border-radius: 4px;
            font-weight: 600;
            font-size: 1rem;
            margin-left: 0px;
            margin-top: 8%;
        }

    }

    .productostitulo {

        .productostitulo h2 {
            font-size: 1.5;
        }

        .productostitulo p {
            display: none;
        }

    }

    .productos__contenedor {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 50%;

        .productos__card h3 {
            color: #004468;
            font-weight: bold;
            text-align: center;
        }

        .productos__card p {
            width: 18rem;
            text-align: center;
        }

        .productos__card img {
            width: 80%;
            height: auto;
            align-content: center;
            margin: 10%;

        }

    }

    /*NOVEDADES 480px*/

    .novedades__titulo {
        font-size: 1.5rem;

    }

    .contenedor {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 10px;

        .cont1 {
            flex-direction: column;
            justify-content: space-around;
            gap: 20px;

            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                border: none;
                align-content: center;

                img {
                    width: 250px;
                    height: auto;

                }

                h4 {
                    color: #004468;
                    font-size: 1.2rem;
                    width: 16rem;


                }

                p {
                    width: 16rem;

                }

            }

        }

        .cont2 {
            flex-direction: column;
            justify-content: space-around;
            gap: 20px;

            .card {
                width: auto;
                padding: 25px 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                border: none;
                align-content: center;

                img {
                    width: 250px;
                    height: auto;

                }

                h4 {
                    color: #004468;
                    font-size: 1.2rem;
                    width: 16rem;

                }

                p {
                    width: 16rem;
                }

            }

        }

    }

    /*CONTACTO 480px*/

    .container {
        .btn {
            margin-left: auto;
        }

    }


    section.info-oficinas {
        display: flex;
        flex-direction: column;

        .oficina__div {
            flex-direction: column;
            align-items: center;
            align-content: center;
            text-align: center;
            margin-bottom: 5%;

            h2 {
                flex-direction: column;
                align-content: center;
                align-items: center;
                color: #004468;
                width: auto;
                text-align: center;

            }

            p {
                display: inline;
                width: auto;
                text-align: center;

            }

        }


    }

}