.hero-productos {
    overflow: hidden;
    position: relative;
    background-image: url("../assets/background-productos.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;

    h1 {
        font-weight: 600;
        font-size: 3.8rem;
        color: white;
        text-align: left;
        margin-top: 100px;
        margin-left: 90px;
    }
    
    p {
        font-size: 1.6rem;
        color: white;
        text-align: left;
        width: 50rem;
        margin-left: 90px;
        margin-bottom: 40px;
    }
    
    button {
        width: 150px;
        height: 45px;
        margin-left: 90px;
        background-color: #0074b5;
        color: white;
        border: 1px solid #0074b5;
        border-radius: 4px;
        font-weight: 600;
        font-size: 1.2rem;
    }

}


.productostitulo {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;

    
    h2 {
        color: #004468;
        
    }

    p {
        color: #000000;
        font-size: 1.4rem;
        padding-left: 100px;
        padding-right: 100px;

    }

}

.productos__contenedor{
    .productos__card h3 {
        color: #004468;
    }
}


