.img-qs img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.quienessomos__section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    height: 145px;
    overflow: hidden;

    .quienessomos__titulo {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;

        h1 {
            color: $colorTítulos;
           
        }
    
    }

}

.quienessomos__section2 {
    margin-top: 20px;
    margin-bottom: 115px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    .quienessomos__div {
        width: 400px;

        .quienessomos__h3 {
            color: $colorDiferencial;
            text-align: left;
            margin-bottom: 15px;
            font-weight: bold;
        }
        
        .quienessomos__p {
            color: colorParrafos;
            text-align: left;
        }
        
        
        .quienessomos__icon {
            width: 60px;
            height: 60px;
            margin-bottom: 10px;
               
        }
    
    }

}

.quienessomos__section3 {
    .quienessomos__titulo {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;

        h2 {
            color: $colorTítulos;
            
        }
    
    }

}



