//VARIABLES

//TITULOS
$tamañoTitulos: 2.5rem;
$tamañoBajada: 1.5rem;
$tamañoDiferencial: 1.3rem;
$tamañoParrafo: 1rem;

//COLORES
$colorTítulos:#004468;
$colorDiferencial:#345d9d;
$colorParrafos: #000000;