@import "./vars";
@import "./reset";
@import "./header";
@import "./mainIndex";
@import "./footer";
@import "./botones";
@import "./mixins";
@import "./maps";
@import "./quienesSomos";
@import "./productos";
@import "./novedades";
@import "./contacto";
@import "./mediaQueries";


.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header"
        "main"
        "footer";

}


