@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif; }

ol {
  list-style-type: none; }

ul {
  list-style-type: none; }

p {
  font-weight: 400; }

h1 {
  font-weight: 600; }

.navbar-nav {
  --bs-nav-link-color: whitesmoke;
  --bs-nav-link-hover-color: white; }

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: white; }

.nav-link:focus,
.nav-link:hover {
  color: white; }

.nav-item {
  font-size: 1.2rem; }

.navbar-toggler-icon {
  background-image: url("../assets/iconos/list-white.svg"); }

.carousel {
  margin-bottom: 50px; }
  .carousel .carousel-caption {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 200px; }
  .carousel h1 {
    font-weight: 600;
    font-size: 3.8rem; }
  .carousel span {
    font-weight: 600;
    font-size: 3.8rem; }
  .carousel p {
    font-size: 1.6rem; }

/*END ESTILOS SLIDER*/
/*ESTILOS PROPUESTA*/
.hometitulo {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }
  .hometitulo .hometitulo__h2 {
    color: #004468;
    margin-bottom: 30px; }
  .hometitulo p {
    color: colorParrafos;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
    width: 60%; }
  .hometitulo .btn_home {
    width: 180px;
    height: 45px;
    margin-bottom: 50px; }

.propuesta {
  width: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden; }
  .propuesta .propuesta__col {
    display: inline-block; }
    .propuesta .propuesta__col img {
      width: 100%; }
    .propuesta .propuesta__col h3 {
      margin-top: 10px;
      margin-left: 10px; }
    .propuesta .propuesta__col .propuesta__desc {
      color: #000000;
      width: 20rem;
      margin-left: 10px; }

/*END ESTILOS PROPUESTA*/
/*ESTILOS VIDEO INSTITUCIONAL*/
.video-institucional {
  background-image: url(../assets/background-abstract.png);
  background-repeat: no-repeat;
  margin-top: 90px;
  padding: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start; }
  .video-institucional .video-institucional__desc {
    width: 20%; }
    .video-institucional .video-institucional__desc .video-institucional__h2 {
      color: #004468;
      margin-bottom: 20px;
      line-height: 100%;
      width: 450px; }
    .video-institucional .video-institucional__desc .bold {
      font-weight: bold;
      color: #004468; }
  .video-institucional .video {
    width: 20%;
    display: inline-block; }

/*END ESTILOS VIDEO INSTITUCIONAL*/
.footer {
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
  padding: 20px 50px; }
  .footer nav {
    padding: 10px 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end; }
    .footer nav img {
      position: relative;
      bottom: 50px; }
    .footer nav .footer__list {
      display: inline-block;
      padding-left: 70px; }
      .footer nav .footer__list .footer__anchor {
        color: white;
        text-decoration: none; }
    .footer nav .footer__listoficinas {
      display: inline-block;
      color: white;
      padding-left: 70px; }

.boton, .hometitulo .btn_home {
  background-color: #0074b5;
  color: white;
  border: 1px solid #0074b5;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.2rem; }
  .boton:hover, .hometitulo .btn_home:hover {
    background-color: #0b5ed7; }

.tamaño-titulo {
  font-size: 3rem;
  font-weight: 600; }

.tamaño-bajada {
  font-size: 1.5rem;
  font-weight: 400; }

.diferencial {
  font-size: 1.3rem;
  font-weight: 700; }

.tamaño-parrafo {
  font-size: 1rem;
  font-weight: 400; }

.tamaño-subtitulo {
  font-size: 1.5rem;
  font-weight: 600; }

.diferencial {
  color: #345d9d; }

.img-qs img {
  width: 100%;
  height: 600px;
  object-fit: cover; }

.quienessomos__section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  height: 145px;
  overflow: hidden; }
  .quienessomos__section .quienessomos__titulo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px; }
    .quienessomos__section .quienessomos__titulo h1 {
      color: #004468; }

.quienessomos__section2 {
  margin-top: 20px;
  margin-bottom: 115px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around; }
  .quienessomos__section2 .quienessomos__div {
    width: 400px; }
    .quienessomos__section2 .quienessomos__div .quienessomos__h3 {
      color: #345d9d;
      text-align: left;
      margin-bottom: 15px;
      font-weight: bold; }
    .quienessomos__section2 .quienessomos__div .quienessomos__p {
      color: colorParrafos;
      text-align: left; }
    .quienessomos__section2 .quienessomos__div .quienessomos__icon {
      width: 60px;
      height: 60px;
      margin-bottom: 10px; }

.quienessomos__section3 .quienessomos__titulo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px; }
  .quienessomos__section3 .quienessomos__titulo h2 {
    color: #004468; }

.hero-productos {
  overflow: hidden;
  position: relative;
  background-image: url("../assets/background-productos.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px; }
  .hero-productos h1 {
    font-weight: 600;
    font-size: 3.8rem;
    color: white;
    text-align: left;
    margin-top: 100px;
    margin-left: 90px; }
  .hero-productos p {
    font-size: 1.6rem;
    color: white;
    text-align: left;
    width: 50rem;
    margin-left: 90px;
    margin-bottom: 40px; }
  .hero-productos button {
    width: 150px;
    height: 45px;
    margin-left: 90px;
    background-color: #0074b5;
    color: white;
    border: 1px solid #0074b5;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1.2rem; }

.productostitulo {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center; }
  .productostitulo h2 {
    color: #004468; }
  .productostitulo p {
    color: #000000;
    font-size: 1.4rem;
    padding-left: 100px;
    padding-right: 100px; }

.productos__contenedor .productos__card h3 {
  color: #004468; }

.novedades__titulo {
  color: #004468;
  text-align: center;
  margin-top: 1.8rem; }

.contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  padding: 50px 30px; }

.card {
  height: 550;
  display: flex;
  flex-direction: column;
  border: none; }

.card h4 {
  color: #004468;
  width: 20rem;
  align-content: flex-start;
  margin-top: 10px;
  font-weight: 600; }

.card p {
  width: 20rem;
  margin-top: 10px; }

.cont1 {
  display: flex;
  justify-content: space-around;
  gap: 20px; }

.cont2 {
  display: flex;
  justify-content: space-around;
  gap: 20px; }

.img-contacto img {
  width: 100%;
  height: 600px;
  object-fit: cover; }

.titulo-contacto {
  color: #004468;
  text-align: center;
  margin-top: 1.8rem; }

.btn {
  width: 110px;
  height: 45px;
  margin-left: 90px;
  background-color: #0074b5;
  color: white;
  border: 1px solid #0074b5;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.2rem; }

.form-select {
  margin-bottom: 1rem; }

.container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 20px; }

.form-select-sm {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; }

.info-oficinas {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  gap: 40px; }
  .info-oficinas .oficina__div {
    display: flex;
    flex-direction: column;
    align-content: center; }
    .info-oficinas .oficina__div img {
      width: 40px;
      height: 40px;
      margin-bottom: 10px; }
    .info-oficinas .oficina__div h2 {
      color: #004468; }
    .info-oficinas .oficina__div p {
      width: auto;
      font-size: 0.9rem; }

/*MEDIA QUERIES min-width=desde  max-width=hasta*/
/*MEDIA QUERIE PARA TABLETS 768px*/
@media screen and (max-width: 768px) {
  /*HOME*/
  /*Main*/
  /*Sección Slider 768px*/
  .carousel .carousel-caption {
    margin-bottom: auto; }
    .carousel .carousel-caption h1 {
      font-weight: 600;
      font-size: 2rem; }
    .carousel .carousel-caption span {
      font-weight: 600;
      font-size: 2rem; }
    .carousel .carousel-caption p {
      font-size: 1rem; }
  /*Sección Propuesta 768px*/
  .hometitulo h2 {
    font-size: 2rem; }
  .hometitulo p {
    font-size: 1.4rem;
    width: auto; }
  .hometitulo .btn_home {
    display: none; }
  .propuesta {
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    .propuesta .propuesta__col {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center; }
      .propuesta .propuesta__col img {
        width: 100%;
        align-content: center;
        object-fit: cover; }
      .propuesta .propuesta__col .propuesta__desc {
        text-align: center;
        margin-bottom: 132px; }
  /*Sección Video 768px*/
  .video-institucional {
    display: grid;
    grid-template-columns: auto;
    margin-top: 0px; }
    .video-institucional .video-institucional__desc {
      width: 20%;
      display: flex;
      flex-direction: column; }
      .video-institucional .video-institucional__desc h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: 600; }
      .video-institucional .video-institucional__desc p {
        display: none; }
  .footer__img {
    position: relative;
    bottom: 50px;
    height: 30%;
    width: 30%; }
  /*QUIENES SOMOS 768px*/
  .quienessomos__section .quienessomos__titulo .quienessomos__h1 {
    color: #004468;
    font-size: 2rem;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%; }
  .quienessomos__section2 {
    margin-top: 20px;
    margin-bottom: 60px;
    margin-right: 35px;
    margin-left: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    column-gap: 50px; }
    .quienessomos__section2 .quienessomos__h3 {
      margin-bottom: 15px;
      font-size: 1.2rem;
      color: #004468; }
    .quienessomos__section2 .quienessomos__p {
      font-size: 1rem; }
    .quienessomos__section2 .quienessomos__icon {
      width: 50px;
      height: 50px; }
  .quienessomos__section3 .quienessomos__titulo .quienessomos__h2 {
    font-size: 2rem;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%; }
  /*PRODUCTOS 768px*/
  .hero-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px; }
    .hero-productos .hero-productos__h1 {
      font-weight: 600;
      font-size: 2rem;
      text-align: center;
      margin-top: 0px;
      margin-left: 0px; }
    .hero-productos .hero-productos__p {
      font-size: 1rem;
      text-align: center;
      width: 30rem;
      margin-left: 0px;
      margin-bottom: 0px; }
    .hero-productos .hero-productos__button {
      width: 157px;
      height: 45px;
      background-color: #0074b5;
      color: white;
      border: 1px solid #0074b5;
      border-radius: 4px;
      font-weight: 600;
      font-size: 1rem;
      margin-left: 0px;
      margin-top: 5%; }
  .productostitulo .productostitulo__h2 {
    font-size: 2rem;
    font-weight: 600; }
  .productostitulo .productostitulo__p {
    font-size: 1.4rem; }
  .productos__contenedor .productos__card h3 {
    color: #004468; }
  .productos__contenedor .productos__card p {
    width: 13rem; }
  .productos__contenedor .productos__card img {
    width: 100%;
    height: auto;
    margin: 10%;
    margin-left: -25px; }
  /*NOVEDADES 768px*/
  .novedades .novedades__titulo {
    font-size: 2rem;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%; }
  .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "cont1" "cont2";
    row-gap: 10px; }
    .contenedor .cont1 {
      grid-area: cont1;
      display: flex;
      justify-content: space-around;
      gap: 20px; }
      .contenedor .cont1 .card {
        height: 550;
        display: flex;
        flex-direction: column;
        border: none; }
        .contenedor .cont1 .card img {
          width: 160px;
          height: auto; }
        .contenedor .cont1 .card h4 {
          color: #004468;
          font-size: 1.2rem;
          width: 10rem;
          align-content: flex-start;
          margin-top: 10px; }
        .contenedor .cont1 .card p {
          width: 10rem; }
    .contenedor .cont2 {
      grid-area: cont2;
      display: flex;
      justify-content: space-around;
      gap: 20px; }
      .contenedor .cont2 .card {
        height: 550;
        display: flex;
        flex-direction: column;
        border: none; }
        .contenedor .cont2 .card img {
          width: 160px;
          height: auto; }
        .contenedor .cont2 .card h4 {
          color: #004468;
          font-size: 1.2rem;
          width: 10rem;
          align-content: flex-start;
          margin-top: 10px; }
        .contenedor .cont2 .card p {
          width: 10rem; }
  /*CONTACTO 768px*/
  h2.titulo-contacto {
    color: #004468;
    font-size: 2rem;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%; }
  section.info-oficinas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
    justify-items: center;
    row-gap: 5%;
    column-gap: 5px;
    margin-bottom: 5%; }
    section.info-oficinas .oficina__div {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      align-content: center; }
    section.info-oficinas .oficina__div h2 {
      display: flex;
      color: #004468;
      width: 50%;
      align-items: center;
      margin: 0px;
      padding: 0px; }
    section.info-oficinas .oficina__div p {
      width: 50%;
      font-size: 0.8rem; } }

/*MEDIA QUERIE 480px*/
@media screen and (max-width: 480px) {
  /*HOME*/
  /*Header*/
  .header img {
    height: auto;
    width: 150px; }
  /*Main*/
  /*Sección Slider 480px*/
  .carousel .carousel-caption {
    margin-bottom: auto; }
    .carousel .carousel-caption h1 {
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: -5px; }
    .carousel .carousel-caption span {
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 18px; }
    .carousel .carousel-caption p {
      display: none; }
  /*Sección Propuesta 480px*/
  .hometitulo .hometitulo__h2 {
    font-size: 1.5rem;
    font-weight: 600; }
  .hometitulo p {
    display: none; }
  .hometitulo .btn_home {
    display: none; }
  .propuesta {
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 1%;
    align-content: center; }
    .propuesta .propuesta__col {
      width: 80%;
      display: flex;
      justify-self: center;
      justify-content: center; }
      .propuesta .propuesta__col img {
        width: 50%; }
      .propuesta .propuesta__col .propuesta__desc {
        text-align: center; }
  /*Sección Video 480px*/
  .video-institucional {
    background-image: url(../assets/background-abstract.png);
    background-repeat: no-repeat;
    padding: 50px;
    flex-direction: column;
    align-content: center; }
    .video-institucional .video-institucional__desc {
      width: 100%;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      .video-institucional .video-institucional__desc .video-institucional__h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 20px;
        width: 100%;
        text-align: center; }
      .video-institucional .video-institucional__desc .video-institucional__p {
        display: none; }
  .video iframe {
    flex-direction: column;
    align-content: center;
    width: 300px;
    height: 169px;
    margin-left: 50%; }
  /*Footer 480px*/
  .footer {
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    padding: 20px 10px; }
    .footer .footer__nav {
      padding: 60px 70px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .footer .footer__nav .footer__img {
        position: relative;
        bottom: 10px;
        height: auto;
        width: 150px; }
      .footer .footer__nav .footer nav .footer__list {
        display: flex;
        flex-direction: column;
        padding-left: 50px; }
        .footer .footer__nav .footer nav .footer__list .footer__anchor {
          color: white;
          text-decoration: none; }
      .footer .footer__nav .footer nav .footer__listoficinas {
        display: flex;
        flex-direction: column;
        color: white;
        padding-left: 50px; }
  /*QUIENES SOMOS 480px*/
  .img-qs {
    width: 100%;
    height: 600px;
    object-fit: cover; }
  .quienessomos__section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    height: 145px;
    overflow: hidden; }
    .quienessomos__section .quienessomos__titulo {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 30px; }
      .quienessomos__section .quienessomos__titulo .quienessomos__h1 {
        font-size: 1.5rem; }
  section.quienessomos__section2 {
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    row-gap: 10%;
    align-items: center; }
    section.quienessomos__section2 .quienessomos__div {
      width: 80%;
      margin-bottom: 10%;
      margin-top: 10%; }
      section.quienessomos__section2 .quienessomos__div .quienessomos__h3 {
        color: #004468;
        text-align: center;
        margin-bottom: 15px;
        width: 100%; }
      section.quienessomos__section2 .quienessomos__div .quienessomos__p {
        color: #000000;
        text-align: center;
        height: 160px;
        width: 100%; }
      section.quienessomos__section2 .quienessomos__div .quienessomos__icon {
        width: 50px;
        height: 50px;
        margin-left: 140px;
        margin-bottom: 20px; }
  .quienessomos__section3 {
    display: none; }
  /*PRODUCTOS 480px*/
  .hero-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px; }
    .hero-productos .hero-productos__h1 {
      font-weight: 600;
      font-size: 2rem;
      text-align: center;
      margin-top: 0px;
      margin-left: 0px; }
    .hero-productos .hero-productos__p {
      font-size: 1rem;
      text-align: center;
      width: 100%;
      margin-top: 5%;
      margin-left: 0px;
      margin-bottom: 0px; }
    .hero-productos .hero-productos button {
      width: 145px;
      height: 45px;
      background-color: #0074b5;
      color: white;
      border: 1px solid #0074b5;
      border-radius: 4px;
      font-weight: 600;
      font-size: 1rem;
      margin-left: 0px;
      margin-top: 8%; }
  .productostitulo .productostitulo h2 {
    font-size: 1.5; }
  .productostitulo .productostitulo p {
    display: none; }
  .productos__contenedor {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 50%; }
    .productos__contenedor .productos__card h3 {
      color: #004468;
      font-weight: bold;
      text-align: center; }
    .productos__contenedor .productos__card p {
      width: 18rem;
      text-align: center; }
    .productos__contenedor .productos__card img {
      width: 80%;
      height: auto;
      align-content: center;
      margin: 10%; }
  /*NOVEDADES 480px*/
  .novedades__titulo {
    font-size: 1.5rem; }
  .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 10px; }
    .contenedor .cont1 {
      flex-direction: column;
      justify-content: space-around;
      gap: 20px; }
      .contenedor .cont1 .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border: none;
        align-content: center; }
        .contenedor .cont1 .card img {
          width: 250px;
          height: auto; }
        .contenedor .cont1 .card h4 {
          color: #004468;
          font-size: 1.2rem;
          width: 16rem; }
        .contenedor .cont1 .card p {
          width: 16rem; }
    .contenedor .cont2 {
      flex-direction: column;
      justify-content: space-around;
      gap: 20px; }
      .contenedor .cont2 .card {
        width: auto;
        padding: 25px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border: none;
        align-content: center; }
        .contenedor .cont2 .card img {
          width: 250px;
          height: auto; }
        .contenedor .cont2 .card h4 {
          color: #004468;
          font-size: 1.2rem;
          width: 16rem; }
        .contenedor .cont2 .card p {
          width: 16rem; }
  /*CONTACTO 480px*/
  .container .btn {
    margin-left: auto; }
  section.info-oficinas {
    display: flex;
    flex-direction: column; }
    section.info-oficinas .oficina__div {
      flex-direction: column;
      align-items: center;
      align-content: center;
      text-align: center;
      margin-bottom: 5%; }
      section.info-oficinas .oficina__div h2 {
        flex-direction: column;
        align-content: center;
        align-items: center;
        color: #004468;
        width: auto;
        text-align: center; }
      section.info-oficinas .oficina__div p {
        display: inline;
        width: auto;
        text-align: center; } }

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer"; }
